.dashboardWrapper {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}
.addButtonWrapper{
    width: 100%;
    display:flex;
    justify-content: end;
    margin-bottom: 16px;
}
.tableWrapper{
  text-align: left !important;
}
